@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The NBL-USA was founded in 2020 to provide an alternative route for elite Prep School basketball players
    while still wanting to maintain Amateur status to be eligible for the NCAA, should they decide to go that route
    instead of playing professional.  We use a junior hockey format to enhance youth basketball development
    in the United States, in particular, and North America in general.
    </p>
